.progress
  display: flex
  align-items: center
  margin: 0 20px
  justify-content: end
  width: 100%
  color: #fff

  &:hover
    cursor: pointer

  &__bar
    width: 400px
    height: 40px
    margin: 0 10px