
$red: #ff0005
$green: #008000
$blue: #1e90ff
$yellow: #ffff00

=flex($direction)
  display: flex
  flex-direction: $direction
  justify-content: center

.subsection
  min-width: 660px
  max-width: 1000px
  border: 1px lightgray solid
  margin: 10px auto

  &__header

      background-color: lavender

      &_h2
        margin: 0

  &__description

      &_p
        color: black
  
  &__status-section
    +flex(row)

  &__btn-score
    +flex(row)

  &__btn-status
    height: 15px

    &_red
      background-color: $red

    &_green
      background-color: $green

    &_blue
      background-color: $blue

    &_yellow
      background-color: $yellow

  &__content-section
    margin: 1em

  &__img

  &__points-section

    +flex(row)

  &__btn-point
    border: none
    width: 50px
    height: 20px
    margin: 10px
    border-radius: 5px

    &_red
      background-color: $red

    &_green
      background-color: $green

    &_blue
      background-color: $blue

    &_yellow
      background-color: $yellow

    &:hover
      cursor: pointer

