$header_color: #9696ea              //цвет фона заголовка
$header_text_color: #f0f8ff         //цвет текста заголовка
$header_text_shadow_color: #4e4583  //цвет тени текста заголовка
$description_color: #e6e6fa         //цвет фона описания
$description_text_color: #000       //цвет текста описания
$status_section_color: #dcdcdc      //цвет фона статусной строки
$btn_status_size: 15px              //размер ячейки в статусной строке

@font-face
  font-family: 'Cambria'
  src: url('./Cambria.ttf')

@import "../colors"

=flex($display, $direction)
  display: $display
  flex-direction: $direction
  justify-content: center

.subsection
  min-width: 660px
  max-width: 1000px
  background-color: #fff
  border: 1px lightgray solid
  margin-top: 30px
  margin-right: auto
  margin-left: auto
  border-top-left-radius: 15px
  border-top-right-radius: 15px
  z-index: 5

  &__header
      border-top-left-radius: 15px
      border-top-right-radius: 15px
      background-color: $header_color
      padding: 5px

      &_h2
        margin: 0
        color: $header_text_color
        text-shadow: 0 2px $header_text_shadow_color

  &__description
      &_p
        margin: 0
        padding: 5px
        background-color: $description_color
        color: $description_text_color

  &__status-section
    +flex(inline-flex, row)
    background-color: $status_section_color
    padding: 3px
    border-radius: 5px

  &__btn-score
    +flex(flex, row)

  &__btn-status
    position: relative
    height: $btn_status_size
    width: $btn_status_size
    margin: 3px
    background-color: #fff
    cursor: pointer
    border: none
    border-radius: 2px
    &:hover
      outline: 1px #7a7a7a solid
    &:focus
      outline: 2px #7a7a7a solid
    &_active
      outline: 2px #7a7a7a solid

    &_red
      background-color: $red

    &_green
      background-color: $green

    &_blue
      background-color: $blue

    &_yellow
      background-color: $yellow

  [data-tooltip]:before
    content: attr(data-tooltip)
    font-family: MusticaproSemibold
    text-align: center
    position: absolute
    top: -35px
    left: -50%
    width: max-content
    background-color: #9696ea
    color: #fff
    padding: 5px
    border-radius: 5px
    opacity: 0

  [data-tooltip]:hover:before
    opacity: 0.9

  &__content-section
    margin: 1em

  &__img


  &__small-text
    font-family: Cambria
    font-size: 25pt
    background-color: #f9f9f9
    display: inline-block
    margin: 0
    padding: 20px 40px
    border-radius: 20px

  &__text
    font-family: Cambria
    text-align: justify
    font-size: 14pt
    text-indent: 1.5em

  &__points-section
    margin: 10px
    +flex(flex, row)

  &__btn-point
    border: none
    width: 50px
    height: 30px
    margin: 10px
    border-radius: 5px

    &_red
      background-color: $red

    &_green
      background-color: $green

    &_blue
      background-color: $blue

    &_yellow
      background-color: $yellow

    &:hover
      cursor: pointer

  &__btn-exp
    cursor: pointer
    padding: 0 20px
    border-radius: 5px
    background: #e6e6fa

