.diagnostic-menu

  font-family: MusticaproSemibold

  &__table
    display: inline-block

  &__container
    text-align: center

  &__select
    margin: 0 auto
    width: 300px
    //padding: 5px
    //border-radius: 10px
    //background: transparent
    //option
    //  padding: 10px

  &__button_type_add
    background-color: #9acd32
    border-radius: 5px
    border: none
    color: #fff
    text-shadow: 1px 1px grey
    margin: 10px
    box-shadow: 1px 1px lightgrey
    &:hover
      cursor: pointer
      background-color: #88b52c