.diagnostic-menu

  font-family: MusticaproSemibold

  &__table
    display: inline-block

  &__container
    text-align: center

  &__select
    padding: 5px

  &__button_type_add
    background-color: chartreuse
    border-radius: 5px
    border: none
    margin: 10px
    box-shadow: 1px 1px lightgrey
    &:hover
      cursor: pointer