.diagnostic
  font-family: 'MusticaproSemibold'
  margin-bottom: 80px
  min-width: 700px
  &__tabs


  &__tab-list
    display: flex
    align-items: center
    font-size: 1em
    margin: 0
    padding: 0
    flex-wrap: wrap
    list-style-type: none
    justify-content: center
    background-color: #7f76b7
    box-shadow: 0 2px 3px #4e4583

  &__item
    padding: 10px 20px
    font-size: 1em
    background-color: #7f76b7
    color: #fff
    text-shadow: 1px 1px #4e4583
    transition: 100ms
    &:hover
      cursor: pointer
      filter: brightness(1.05)

  &__tab-panel
    color: #000
    margin: 10px 10px

  &__bottom-section
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    position: fixed
    bottom: 0
    background-color: #4e4583
    padding: 0 20px

  &__btn
    font-family: MusticaproSemibold
    border: none
    margin: 5px
    color: #fff
    border-radius: 5px
    padding: 10px 15px
    cursor: pointer

    &_up
      position: fixed
      background-color: #e1e1f9
      width: 100px
      height: 100px
      bottom: 70px
      left: 10px

      &:hover
        background-color: #c8c8f4

    &_save
      background-color: #1ebe1e

    &_cancel
      background-color: dodgerblue

    &_result
      background-color: #a30000

  &__result
    background-color: dodgerblue
    &:hover
      filter: brightness(1.05)

  .react-tabs__tab--selected
    filter: brightness(1.05)
    box-shadow: inset 0px -3px coral

.fixed
  position: fixed
  width: 100%
  top: 0
  z-index: 1

.margin
  margin-top: 100px

.section

  &__header
    color: #3b3b3b

