.dynamic
  font-family: 'MusticaproSemibold'
  &__container
    width: 800px
    margin: 0 auto
    display: flex
    flex-direction: row
  &__column
    flex: 1
    text-align: center
  &__button-compare
    border: none
    background: cornflowerblue
    border-radius: 10px
    margin: 0 10px
    padding: 10px
    color: #fff
    &:hover
      cursor: pointer
      filter: brightness(1.1)

.dynamic-data
  &__container
    font-family: Arial
    width: 850px
    margin: 50px auto
  &__section-container
    display: flex
    flex-direction: row
  &__column
    flex: 1
    padding: 10px 20px
    margin: 10px
    border-radius: 10px
    &_num
      &_0
        background-color: #dff1e6
      &_1
        background-color: #ffeae0
  &__section-title
    text-align: center

.print
  @media print
    display: block
    .header, .footer
      display: none
    .dynamic-data
      &__container
        font-family: Arial
        width: 850px
        margin: 50px auto
      &__section-container
        display: flex
        flex-direction: row
      &__section-title
        margin: 0
      &__column
        flex: 1
        padding: 10px 20px
        margin: 10px
        border-radius: 10px
      &__stateOfFunc, &__diagramm
        page-break-after: always
      &__reading, &__writing
        font-size: 9pt
    .dynamic__container
      display: none

