.table

  &__buttons
    margin: 5px

  &__table
    border-collapse: collapse

  &__thead
    background-color: #4e4583

  &__tbody

.thead
  &__tr
    padding: 10px
    color: white
    text-align: center
  &__th
    padding: 10px

.tbody
  &__tr
    background-color: #e1e1f9
    transition: 100ms
    text-align: center
    &_active
      background-color: #7e87de
      color: white

    &:hover
      cursor: pointer
      background-color: #8c94de
      color: white

  &__td
    padding: 10px

    &_func
      padding: 5px

  &__button
    padding: 5px 7px
    border: none
    background-color: #a59ecc
    border-radius: 5px
    color: #ffffff

    &:hover
      background-color: #6a5fab
      cursor: pointer

    &_type

      &_remove
        background-color: lightcoral
        &:hover
          background-color: firebrick


