.table

  &__buttons
    margin: 10px

  &__table
    border-collapse: collapse
    margin: 10px

  &__thead
    background-color: #4e4583

  &__tbody

.thead
  &__tr
    padding: 10px
    color: white
  &__th
    padding: 10px

.tbody
  &__tr
    background-color: #e1e1f9

    &_active
      background-color: #c8c8f4

    &:hover
      cursor: pointer
      background-color: #c8c8f4
  &__td
    padding: 10px

