.admin
  font-family: Arial

  &__container
    display: flex
    flex-direction: row

  &__menu
    display: flex
    flex-direction: column
    height: 100vh
    width: 120px
    background-color: $tertiary_color

  &__link
    padding: 10px
    margin: 5px 0
    text-decoration: none
    color: $text_color

    &:hover
      background-color: $color_hover
      color: $text_active

  &__content
    width: 100%
    margin: 10px

.title
  margin: 0
  color: $title_color

.active
  color: $text_active
  background-color: $color_active