.groups

  &__form
    width: 200px
    display: flex

  &__label
    font-weight: bold

  &__form-item
    margin: 10px

  &__select
    margin: 5px 0
    font-size: 13pt
    width: 150px

  &__button
    margin: 0 10px

.attached-students
  margin: 10px

  &__h3

  &__table